<template name="login">
    <body id="login">
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">Sign In</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="name" id="username" class="form-control" placeholder="Username" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                {{#if errors}}
                <div class="alert alert-danger login-error">
                    <p>{{errors}}</p>
                </div>
                {{/if}}
            </form>
        </div>
    </body>
</template>
