<template name="simulations">
    <div>
        <h2>List of simulations</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each simulations}}
                <tr>
                    <td>{{name}}</td>
                    <td><a href="/simulations/{{slug}}/">{{slug}}</a></td>
                    <td>{{startDate}}</td>
                    <td>{{endDate}}</td>
                    <td>
                        <a href="/simulations/{{slug}}/" class="btn btn-default">
                            Manage
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
